# Temporary files.
*.swp
# Directory change history.
/.netrwhist
# Snippets.
/UltiSnips
# Outdated `vim-plug` module.
/autoload/plug.vim.old
# Plugins directory.
/plugins
# Custom dictionaries.
/spell
